<app-container>
    <div class="flex justify-between pb-5">
        <h2 class="text-2xl">
            My Todos
        </h2>
        <button class="bg-blue-400 rounded-lg hover:bg-blue-600 text-white py-2 px-4">
            Add Todo
        </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-full">
            <app-todos [todoList]="todoList" (selectedTodo)="onSelected($event)" />
        </div>
        <div class="w-full">
            @if (selectedTodo) {
            <app-todo-detail [todoDetail]="selectedTodo" />
            } @else {
            <p>Select a Todo</p>
            }
        </div>
    </div>
</app-container>